body {
  margin: 0;
  font-family: 'Lexend Deca', sans-serif;
}

a {
	color: RGB(75, 112, 175);
	text-decoration: none;
	font-weight: 100;
}

a:hover {
	color: RGB(186, 53, 60);
}

a:focus {
	outline: none;
}

button {
	color: white;
	background-color: RGB(186, 53, 60);
	border: none;
	padding: 1.5vh;
}

button:hover {
	background-color: RGB(75, 112, 175);
	/*background-color: RGB(253, 248, 227);*/
}

h3 {
	margin-bottom: 0.4vh;
}

.banner-img {
	max-height: 10vh;
	max-width: 10vh;
	margin-bottom: 0vh;
}

.address {
	margin: 0 0 0 0;
}

#main {
	font-family: 'Lexend Deca', sans-serif;
	display: flex;
}

#banner {
	text-align: center;
	background-color: RGB(253, 248, 227);
	padding: 1vh;
	margin-top: 1vw;
	margin-bottom: 2.25vw;
}

#banner-01 {
	font-family: 'Yellowtail', cursive;
	font-weight: normal;
	font-size: 3vw;
	
	color: RGB(75, 112, 175);

	margin-top: 0vh;
	margin-bottom: 0.0em;

	padding-top: 0vh;
}

#banner-02 {
	font-weight: bold;
	font-size: 3vw;

	display: flex;
	justify-content: space-between;
	color: RGB(186, 53, 60);

	margin-top: 0.0em;
	margin-bottom: 0.35em;
}


#column {
	max-height: 100vh;
	max-width: 25vw;
	overflow-y: scroll;
	scrollbar-color: RGB(186, 53, 60) RGBA(0, 0, 0, 0);
	padding: 0 1vw 0 2.5vw;
	background-color: RGB(253, 248, 227);
	border: 0.5em;
	border-style: double;
	border-color: RGB(186, 53, 60);
}

.card {
	text-align: center;
	margin-bottom: 5vh;
}

.brewery-type {
	margin-top: 0vh;
/*	margin-bottom: 
*/	font-size: 0.75em;
}


/* ----- MAP STYLES ----- */

.gm-style-iw-t {
	background-color: RGB(253, 248, 227);
}

.gm-style-iw.gm-style-iw-c {
	background-color: RGB(253, 248, 227);
	box-sizing: initial;
	padding: 3vw;
	border-radius: 0;
}

.gm-style-iw-d {
	background-color: RGB(253, 248, 227);
	border: 0.5em;
	border-style: double;
	border-color: RGB(186, 53, 60);
	padding: 2vw;
	text-align: center;
	font-family: 'Lexend Deca', sans-serif;
}

/*font-family: 'Yellowtail', cursive;
font-family: 'Lexend Deca', sans-serif;*/