body {
  font-family: 'Lexend Deca', sans-serif;
  margin: 0;
}

a {
	color: RGB(75, 112, 175);
	font-weight: 100;
	text-decoration: none;
}

a:hover {
	color: RGB(186, 53, 60);
}

a:focus {
	outline: none;
}

button {
	background-color: RGB(186, 53, 60);
	border: none;
	color: white;
	outline: none;
	padding: 1.5vh;
}

button:hover {
	background-color: RGB(75, 112, 175);
}

button::-moz-focus-inner {
	border: 0;
}


h3 {
	margin-bottom: 0.4vh;
}

.banner-img {
	margin-bottom: 0vh;
	max-height: 10vh;
	max-width: 10vh;
}

.address {
	margin: 0 0 0 0;
}

.card {
	text-align: center;
	margin-bottom: 5vh;
}

.brewery-type {
	font-size: 0.75em;
	margin-top: 0vh;
}


/* ----- MAP STYLES ----- */

.gm-style-iw-t {
	background-color: RGB(253, 248, 227);
}

.gm-style-iw.gm-style-iw-c {
	background-color: RGB(253, 248, 227);
	box-sizing: initial;
	padding: 2vw;
	border-radius: 0;
}

.gm-style-iw-d {
	background-color: RGB(253, 248, 227);
	border: 0.5em;
	border-style: double;
	border-color: RGB(186, 53, 60);
	padding: 2vw;
	text-align: center;
	font-family: 'Lexend Deca', sans-serif;
}

/* ---------- */

#main {
	display: flex;
	font-family: 'Lexend Deca', sans-serif;
}

#banner {
	background-color: RGB(253, 248, 227);
	margin-bottom: 2.25vw;
	margin-top: 1vw;
	padding: 1vh;
	text-align: center;
}

#banner-01 {
	color: RGB(75, 112, 175);
	font-family: 'Yellowtail', cursive;
	font-size: 3vw;
	font-weight: normal;
	margin-bottom: 0.0em;
	margin-top: 0vh;
	padding-top: 0vh;
}

#banner-02 {
	color: RGB(186, 53, 60);
	display: flex;
	font-size: 3vw;
	font-weight: bold;
	justify-content: space-between;
	margin-bottom: 0.35em;
	margin-top: 0.0em;
}


#column {
	background-color: RGB(253, 248, 227);
	border: 0.5em;
	border-color: RGB(186, 53, 60);
	border-style: double;
	max-height: 100vh;
	max-width: 25vw;
	overflow-y: scroll;
	padding: 0 1vw 0 2.5vw;
	scrollbar-color: RGB(186, 53, 60) RGBA(0, 0, 0, 0);
}


/*font-family: 'Yellowtail', cursive;
font-family: 'Lexend Deca', sans-serif;*/